<div class="row">
  <div class="col-12 mb-1 pt-1 pb-1 d-flex justify-content-between">
    <app-data-cell
    [data]="data-row"
    [key]="id"
    ></app-data-cell>

    <app-data-cell
    [data]="data-row"
    [key]="name"
    ></app-data-cell>

    <app-data-cell
    [data]="data-row"
    [key]="email"
    ></app-data-cell>

    <app-data-cell
    [data]="data-row"
    [key]="address"
    ></app-data-cell>

    <app-data-cell
    [data]="data-row"
    [key]="active"
    ></app-data-cell>
  </div>
</div>
